.header-parent{
    display: flex;
    font-size: 7rem;
    justify-content: center;
    align-items: center;
    font-family: 'Sigmar One', cursive;
    letter-spacing: 1rem;
    word-spacing: 2rem;
}

.text-child:hover .header-parent{
    background-color: rgb(83, 133, 207);
}