@import "./_variables.scss";

.header-parent{
    display: flex;
    font-size: 7rem;
    justify-content: center;
    align-items: center;
    font-family: 'Sigmar One', cursive;
    letter-spacing: 1rem;
    word-spacing: 2rem;
    margin: 2rem;
    
}

.text-child:hover  {
     background-color: rgb(83, 133, 207);
    transform: scale(1.1);
    text-transform: uppercase;
    transition: .9;
}
