@import "./_ny.scss";
@import "./_header.scss";
@import "./_variables.scss";
@import "./gallery";

html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background-color: rgb(67, 110, 173);
}
.top-parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
