@import "./_ny.scss";
@import "./_header.scss";
@import "./_gallery";
@import "./_button";
@import "./_taxi";
@import "./_road";
@import "./_color";
html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background-color: rgb(67, 110, 173);  
   overflow: hidden; 
}

.top-parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    flex-direction: row;
}

