.city-parent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  position: absolute;
  z-index: 2;
}

.image :hover {
  opacity: 0.2;
  -webkit-transition: .5;
  transition: .5;
}

.image:hover ~ .box {
  opacity: 1;
  -webkit-transition: .5;
  transition: .5;
}

.text {
  background-color: #eb93b8;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-family: 'Bowlby One', cursive;
}

.image {
  width: auto;
  height: 35rem;
  z-index: 1;
}

.header-parent {
  font-size: 7rem;
  font-family: 'Sigmar One', cursive;
  letter-spacing: 1rem;
  word-spacing: 2rem;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-child:hover {
  background-color: #5385cf;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-transform: uppercase;
  -webkit-transition: .9;
  transition: .9;
}

.views {
  height: 21rem;
  position: absolute;
  -webkit-transform: all 0.3s;
          transform: all 0.3s;
}

.views-parent {
  width: 65rem;
  height: 45rem;
}

.views-gallery {
  position: relative;
  margin: 2rem;
}

.sunset {
  z-index: 1;
  top: 3rem;
}

.square {
  top: 8rem;
  left: 28rem;
  z-index: 3;
}

.trade {
  top: 19rem;
  left: 8rem;
  z-index: 2;
}

.views:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  outline: .5rem solid black;
  z-index: 4;
  outline-offset: .7rem;
}

.views-gallery:hover .views:not(:hover) {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.5;
}

.btn {
  position: relative;
  padding: 10px 20px;
  background: #b377b1;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 18rem;
}

.btn:after, .btn:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}

.btn:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}

.btn:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn:hover:before, .btn:hover:after {
  width: 100%;
  height: 100%;
}

.data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
}

.taxi-image {
  height: 11rem;
}

.taxi-parent:hover {
  -webkit-transition: 4s;
  transition: 4s;
  -webkit-transform: translate(150rem, 0);
          transform: translate(150rem, 0);
}

.taxi-image:hover {
  -webkit-filter: hue-rotate(edge 12);
          filter: hue-rotate(edge 12);
}

.road-parent {
  margin: -4;
}

.road-image {
  height: 2rem;
  width: 145rem;
}

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

body {
  background-color: #436ead;
  /*     overflow: hidden;  */
}

.top-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=style.css.map */